.header {
  position: relative;
  z-index: 999;
  display: flex;
  height: 50px;
  padding: 0 1em;
  color: var(--base);
  background-color: var(--bg);
  box-sizing: border-box;
  align-items: center;
  border-bottom: 1px solid var(--border);

  .logo {
    display: flex;
    font-size: 20px;
    align-items: center;
    color: var(--primary);
    img {
      height: 24px;
      margin-right: 10px;
    }
  }
  
  .links {
    display: flex;
    height: 100%;
    margin-left: auto;

    button {
      display: flex;
      width: 34px;
      height: 100%;
      padding: 0 6px;
      margin-left: 4px;
      cursor: pointer;
      background-color: transparent;
      border: none;
      outline: none;
      align-items: center;
    }

    button > svg {
      color: #666;
    }

    button.theme > svg {
      width: 18px;
      height: 18px;
    }
  }
}


.actions {
  margin-left: 20px;

  :global {
    .cxd-Form-item {
      margin-bottom: 0;
    }
    .cxd-TreeSelectControl > .cxd-TreeSelect-popover {
      width: auto;
    }
    .cxd-Tree-itemArrow {
      margin-right: 0;
    }
    .cxd-Tree-itemLabel-item {
      padding-left: 0;
    }
  }
}