.panelWrapper {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.panelError {
  position: absolute;
  overflow: auto;
  font-family: monospace;
  padding: 12px;
  white-space: pre-wrap;
  bottom: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  color: red;
  font-size: 12px;
  transition: all 0.1s;
  line-height: 20px;
}
