.chatContainer {
  :global {
    a {
      &.ListItem {
        font-size: 14px;
        &:hover {
          font-size: 14px;
        }
      }
    }
    .Btn {
      // 与 AMIS 的 tooltip 功能冲突
      &[data-tooltip] {
        &::before {
          z-index: 200;
          animation: none;
          transition: none;
        }
        &::after {
          top: -40px;
          padding-top: 4px;
          margin-bottom: 14px;
          pointer-events: none;
          position: absolute;
          transform: translate(-50%, 4px);
          animation: none;
          transition: none;
          z-index: 200;
        }
      }
    }
    .Recommend .title {
      line-height: 24px;
      margin-top: 6px;
    }
    .ChatWrapper {
      width: 40vw;
      height: 70vh;
    }
    .ChatWrapper-body {
      flex-direction: row-reverse;
    }
    .Sidebar {
      width: 200px;
      border-right: 1px solid #e3e3e3;
      background: #eeeeee;
    }
    .ChatFooter {
      .Composer-input {
        min-height: 64px;
      }
      .QuickReply[disabled] {
        cursor: not-allowed;
        pointer-events: none;
        background: var(--chat-gray-4);
        border-color: transparent;
        color: var(--chat-gray-2);
      }
    }
  }
}
