:root {
  --zIndex-aiChat: 100;
  --chat-brand-1: #2468f2;
  --chat-brand-2: #427cf0;
  --chat-brand-3: #c7d9ff;
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Helvetica Neue', 'Segoe UI', Arial, 'PingFang SC', 'Hiragino Sans GB',
    'Microsoft YaHei', sans-serif;
}

.AMISDebug-toggle {
  top: 35%;
}

body.S--wide {
  background-image: none;
}